<!DOCTYPE html>
<html>
  <head>
    <title>Contrôle de la LED</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
   <div class="div-center">
    <h1 >Centre de contrôle</h1>
   
    <div class="div-row">
     
       <button id="Allumer">Arroser</button>
       <button id="stop">stop</button>
    </div>
  </div>
    <script>
       const Allumer = document.querySelector("#Allumer");

Allumer.addEventListener("click", function() {
  fetch("/aroser")
    .then(response => {
      if (!response.ok) {
        throw new Error("Erreur lors de la requête");
      }
      console.log("La fontaine est ouverte !");
    })
    .catch(error => {
      console.error(error);
    });
});

 const stop = document.querySelector("#stop");

      stop.addEventListener("click", function() {
        fetch("/stop")
          .then(response => {
            if (!response.ok) {
              throw new Error("Erreur lors de la requête");
            }
            console.log("La fontaine est fermée!");
          })
          .catch(error => {
            console.error(error);
          });
      });
    </script>
  </body>
</html>